@mixin scrollbar ($colorBar, $colorBg) {
    ::-webkit-scrollbar {
        width: 0.3rem; 
      }
      
    ::-webkit-scrollbar-track {
       background: $colorBg;
     }
      
     ::-webkit-scrollbar-thumb {
       background: $colorBar;
       border-radius: 1rem;
     }
      
}

@mixin inputSearchCancelBtn () {
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        margin-left: 0.4em;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
        cursor: pointer;
    }
}

@mixin resetStyleslink ($font-color) {

    a {
        color: $font-color;
    }

    a:link, a:visited, a:active {
        text-decoration: none;
    }
}

@mixin flexColCenter ($justify: flex-start) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}

@mixin flexRowCenter ($justify: space-between) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify;
}

@mixin imgBasicStyles ($width, $height) {
    width:$width;
    height: $height;
    border-radius: 1rem;
    overflow: hidden;
    border: 2px solid $nav-color;
        
    img {
        height: $height;
        filter: saturate(0.5);
    }   
}

@mixin boxShadow () {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                7px 7px 20px 0px rgba(0,0,0,.1),
                4px 4px 5px 0px rgba(0,0,0,.1);
}

@mixin buttonBasicStyles () {
    border:none;
    border-radius: 0.4rem;
    background-color: $nav-color;
    cursor: pointer; 
    color: $dark-color;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    z-index: 1;
    outline: none;
    border: 1px solid $nav-color;
    @include boxShadow();

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.4rem;
        background-color: $bg-color;
        opacity: 0.2;
        transition: all 0.3s ease;
    }

    &:hover:after {
        top: auto;
        bottom: 0;
        height: 100%;
      }
      &:active {
        top: 2px;
      }
}

