@import "../../../../../scss/theme/variables";
@import "../../../../../scss/theme/breakpoints";
@import "../../../../../scss/styles/mixins";

.inspire-container {
    @include flexColCenter(space-between);
    width: 100%;
    height: 47rem;
    @include resetStyleslink($dark-color);

    &__text {
        padding-top: 1rem;
    }

    &__show-more {
        @include flexRowCenter();
        @include buttonBasicStyles();
        padding: 0.5rem 1rem;
        margin-bottom: 3rem;
        text-align: center;
    }

}