@import "../../../../../scss/theme/variables";
@import "../../../../../scss/theme/breakpoints";
@import "../../../../../scss/styles/mixins";

.navbar-media {
    @include flexRowCenter(center);
    height: 2.7rem;
    width: 100%;
    background-color: $nav-color;
    @include md {
        justify-content: space-between;
        padding: 0 10%;
    }

    &__search {
        @include flexRowCenter();
        width: 7rem;
       
        &--text {
            font-size: 0.7rem;
        }
    }
    
    &__links {
        @include flexRowCenter();
        width: 3rem;
    }

}