@import "./scss/theme/variables";
@import "./scss/styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $main-font;
  color: $dark-color;
}

@include scrollbar($nav-color, $bg-color)
