@import "../../../../../scss/theme/variables";
@import "../../../../../scss/theme/breakpoints";
@import "../../../../../scss/styles/mixins";

.navbar-desktop {
    @include flexRowCenter();
    width: 80%;
    height: 6.5rem;
    border-bottom: 1px solid $dark-color;
    @include resetStyleslink($dark-color);

    &__group {
        @include flexRowCenter();
        @include resetStyleslink($dark-color);
        width: 10rem;
        font-family: $secondary-font;
        list-style: none;
        font-size: 0.9rem;

        &--active {
            border: 2px solid $nav-color;
            border-radius: 0.6rem;
            padding: 0.5rem;
        }

        @include lg {
            width: 12rem;
            font-size: 1rem;
        }

        @include xl {
            width: 13rem;
            font-size: 1.2rem;
        }
    }

    &__title {
        font-family: $logo-font;
        font-size: 3rem;
        padding-top: 1rem;

        @include lg {
            font-size: 3.6rem;
        }

        @include xl {
            font-size: 4rem;
        }
    }
}