@import "../../../../scss/theme/variables";
@import "../../../../scss/styles/mixins";

.inspire-container {
    @include flexColCenter(space-between);
    width: 100%;
    height: 54rem;

    &__text {
        padding-top: 1rem;
    }

    &__show-more {
        background-color: $nav-color;
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        margin-bottom: 10rem
    }

}